.App {
  background-color: #031D44;
  margin: 0;
}

.Landing {
  min-height: 100vh;
  overflow: auto;
}

.Title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 88px;
  line-height: 88px;
  color: #DB3A34;
  margin-top: 120px;
}

.Subtitle {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  width: 80%;
  text-align: center;
  color: #D5896F;
}

.GetStartedRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.GetStarted {
  text-align: center;
  color: #D5896F;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 23px;
  position: absolute;
  bottom: 92px;
  cursor: pointer;

}

.image {
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 32px;
  cursor: pointer;
}

.Heading {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #DB3A34;
  margin-left: 72px;
  margin-top: 72px;
}

.Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Alert {
  background: #8EB7A2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 80%;
}

.AlertText {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #031D44;
}

#nominations {
  background-color: #031D44;
}

.Nomination {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 30px;
  margin-left: 180px;
  color: #D5896F;
}

.NominationsWrapper {
  position: relative;
  width: 80%;
}

.DeleteMovie {
  right: 20px;
  position: absolute;
  cursor: pointer;
}

.SearchBar {
  width: 50%;
  height: 38px;
  background-color: #FFF1E6;
  font-size: 25px;
  line-height: 30px;
  color:  #031D44;
  border-width: 0px;
}

.Search {
  width: 40px;
  height: 40px;
  background-color: #8EB7A2;
  margin-left: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center
}

.SearchIcon {
  margin-left: 5px;
}

.SearchTitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #D5896F;
  width: 80%;
}

.SearchResultsContainer {
  background: #FFF1E6;
  border: 5px solid #8EB7A2;
  width: 80%;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #031D44;
  position: relative;
  padding-left: 8px;
}

.MovieInfo {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  width: 80%;
}

.MovieButton {
  background: #8EB7A2;
  border-radius: 30px;
  height: 40px;
  width: 130px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  color: #031D44;
  right: 10px;
  position: absolute;
  cursor: pointer;
}

.Error {
  font-size: 24px;
  line-height: 42px;
  color: #DB3A34;
  text-align: center;
}

#browse {
  min-height: 100vh;
}
